@font-face {
  font-family: 'Be Vientnam Pro';
  src: url("../../Assets/fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../../Assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}