.formWrap {
  position: relative;

  margin: 0;
  padding: 0px 0 24px;

  width: 100% !important;
  min-height: inherit;
  max-width: 440px;
  max-height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;

  box-sizing: border-box;

  overflow: hidden auto;
}

.title {
  padding: 0 40px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 1000;
  color: #fff;

  align-self: flex-start;

  box-sizing: border-box;
}

.subTitle {
  padding: 0 40px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: rgb(137, 137, 137);

  opacity: 0.6;


  box-sizing: border-box;

  align-self: flex-start;

  white-space: pre-wrap;
}

.controls {
  position: absolute;
  bottom: 40px;
  left: 20px;
  right: 20px;

  margin: auto 0 0;

  display: inherit;
  flex-direction: inherit;
  gap: inherit;

  box-sizing: border-box;
}

.loader {
  min-width: 320px;
  max-width: 100dvw;

  aspect-ratio: 1;

  display: grid;
  align-content: center;
  justify-content: center;
}