.slider {
  padding-bottom: 4px;

  width: 100%;
  max-width: 330px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;

  box-sizing: border-box;

  overflow-x: auto;

  .slide {
    min-width: calc(100% / var(--max-items));
    height: 100%;
    min-height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
  }
}

.shadow {
  background-size: contain;
  background-image: linear-gradient(to right, rgba(8, 8, 8, 0.15) 20%, rgba(8, 8, 8, 0.9) 80%);
}