.balance {
    width: 100%;
    max-width: 440px;

    display: flex;

    background-color: rgb(8 8 8 / 79%);

    border: 1px solid #232222b8;
    border-radius: 25px;

    box-sizing: border-box;
}